<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>MaintenanceInquireServlet</servlet-name>
        <servlet-class>com.lxl.maintenance.MaintenanceInquireServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaintenanceInquireServlet</servlet-name>
        <url-pattern>/report_inquire</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MaintenanceSubmitServlet</servlet-name>
        <servlet-class>com.lxl.maintenance.MaintenanceSubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaintenanceSubmitServlet</servlet-name>
        <url-pattern>/report_submit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MaintenanceUploadImageServlet</servlet-name>
        <servlet-class>com.lxl.maintenance.MaintenanceUploadImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaintenanceUploadImageServlet</servlet-name>
        <url-pattern>/report_upload</url-pattern>
    </servlet-mapping>

</web-app>